<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- En una version anterior a office 365 cambiar la cadena de 16 a 12 -->
		<add name="CadenaConexion"
             connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=../../DB/Basededatos-RRHH.accdb;"
			 providerName="System.Data.OleDb"/>
	</connectionStrings>
</configuration>